@import url(main-style.css);

.hero {
    background-image: url(../images/hero-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.hero-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.hero-first-section {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.hero-first-section h1 {
    font-size: 46px;
}

.hero-first-section p {
    font-size: 17px;
    position: relative;
    text-align: start;
}

.hero-first-heading {
    position: relative;
}

.hero-first-heading::before {
    content: '';
    position: absolute;
    height: 80%;
    width: 6px;
    background-color: #1ED777;
    left: -20px;
    bottom: 10%;
}

.hero-first-section button {
    font-size: 17px;
    font-weight: 400;
    line-height: 15px;
    width: fit-content;
    padding: 12px 30px;
    background-color: #1ED777;
    border: none;
    color: white;
    transition: 0.7s ease;
}

.hero-first-section button:hover {
    background-color: #222B3C;
}

.hero-second-section {
    color: white;
    width: 50%;
    background-color: rgba(30, 215, 119, 0.8);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 60px;
    gap: 20px;
}

.hero-form-title {
    width: 100%;
}

.hero-form-title p {
    padding-bottom: 5px;
    font-size: 17px;
}

.hero-form-title h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 10px;
}

.hero-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.hero-form input {
    /* height: 100%;
    width: 100%; */
    font-size: 17px;
    border: none;
    padding: 10px 15px;
}

.hero-form button {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;

    width: fit-content;
    padding: 15px 20px;
    border: none;
    background-color: #222B3C;
    color: white;
    transition: 0.6s ease-in-out;
}

.hero-form button:hover {
    background-color: white;
    color: #222B3C;
}

@media screen and (min-width: 1500px) {
    .hero-second-section h2 {
        font-size: 36px;
    }
    .hero-second-section p {
        font-size: 24px;
    }
}

@media screen and (1025px <= width <= 1200px) {
    .hero-first-section h1 {
        font-size: 34px;
    }

    .hero-second-section h2 {
        font-size: 24px;
    }

    .hero-form input {
        padding-right: 80px;
    }
}

@media screen and (991px <= width <= 1024px) {
    .hero-first-section h1 {
        font-size: 28px;
    }
    .hero-first-section h1::before {
        height: 60px;
    }

    .hero-second-section h2 {
        font-size: 20px;
    }

}

@media screen and (max-width: 990px) {
    .hero-main {
        flex-direction: column;
        padding: 80px 0px;
        gap: 30px;
    }
    .hero-first-section{
        justify-content: center;
        align-items: center;
    }

    .hero-first-section,
    .hero-second-section {
        width: 80%;
    }
    .hero-first-section h1 {
        text-align: center;
    }
    .hero-first-section p {
        text-align: center;
    }

    .hero-first-heading::before {
        position: unset;
    }
}

@media screen and (max-width: 600px) {
    .hero-first-section h1 {
        font-size: 34px;
    }
}

@media screen and (max-width: 530px) {
    .hero-first-section, 
    .hero-second-section {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .hero-first-section h1 {
        font-size: 28px;
    }
    .hero-first-section h1::before {
        height: 60px;
    }

    .hero-second-section h2 {
        font-size: 20px;
    }

    .hero-form input {
        padding-right: 60px;
    }
    .hero-first-section p {
        font-size: 15px;
    }
}